.sidebar {
  width: 230px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 12px 0;
}

.sidebar a.active {
  font-weight: bold;
}